%h1= @list.name

= link_to new_list_todo_path(@list), class: 'btn btn-success' do
  %span.glyphicon.glyphicon-plus

%h2 To-do:
%table.table.table-striped
  = render @list.date_less_than_a_week

%h2 To-don't:
%table.table.table-striped
  = render @list.date_more_than_a_week

%h2 To-dids:
%table.table.table-striped
  = render @list.completed_todos
